{% extends 'base.html' %}

{% block title %}
    <title xmlns:data-toolbar="http://www.w3.org/1999/xhtml">编辑</title>>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: url(/static/img/head_back.png)">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">北京交通大学通讯录</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">

                <ul class="nav navbar-nav navbar-right">
                    <li><a> {
                        {request.user}}</a></li>
                    <li><a href="{% url 'mylogout' %}">退出</a></li>
                </ul>

            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background: url(/static/img/bj.png)">
        <div class="container container-fluid">
            <div class="btm row">
                <div class="">
                    <br>
                    <h2>个人信息编辑</h2>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-offet-2 col-md-8">
                            <form class="navbar-form form-group-lg" action="{% url 'cdh' %}" method="post">
                                {% csrf_token %}
                                <ul class="form-group" style="width: 100%;">
                                    <div class=" col-md-8"></div>
                                    <div class="col-md-2">

                                    </div>

                                </ul>
                                <h6 class="col-md-offset-1" style="padding: 10px"></h6>
                            </form>
                        </div>
                        <div class="row col-md-2"></div>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-offset-6 col-md-4">


        </div>
    </div>
    </div>
    </div>


    <div class="container">

        <!-- Example row of columns -->
        <!-- 第一列放表格 -->
        <div class="row">
            <div class="col-md-12 " id="diyilie">
                <div>
                    <div id="toolbar" class="btn-group">
                        <button id="mybtn_add" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                        </button>
                        <button id="mybtn_edit" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                        </button>
                        <button id="mybtn_delete" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                        </button>
                        <button id="mybtn_save" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>保存
                        </button>
                        <button id="mybtn_excel" type="file" class="btn btn-default" data-toggle="modal"
                                data-target="#myModal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>導入excel
                        </button>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            模态框（Modal）标题
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form enctype="multipart/form-data" action="/fileupload/" method="post">
                                                {% csrf_token %}
                                            <input type="file" name="myfile"/>
                                            <button type="submit" class="btn btn-primary" id="mybtn_upload">
                                                提交
                                            </button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            提交更改
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                    </div>

                    <table id="ArbetTable" class="display table  table-hover" data-toggle="table"
                           data-url="{% url 'showtable' %}"
                           data-method="get"
                           data-pagination="true"
                           data-toolbar="#toolbar"
                           data-side-pagination="server"
                           data-page-list="[10, 20, 50, 100, 200]"
                           data-search="true"
                           data-mobile-responsive="true"
                           searchOnEnterKey="true"
                           data-show-refresh="true"
                           data-show-columns="true"
                           data-show-toggle="true"
                           data-page-size=20
                           data-unique-id="asset_id"
                           data-striped="true"
                    >
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id" style="display:none;">id</th>
                            <th data-field="yuan" data-align="center" data-sortable="true">院</th>
                            <th data-field="xi" data-align="center" data-sortable="true" data-width="50px">系
                            </th>
                            <th data-field="zhuanye" data-align="center" data-sortable="true">专业</th>
                            <th data-field="xingming" data-align="center" data-sortable="true"
                            >姓名
                            </th>
                            <th data-field="zhiwu" data-align="center" data-sortable="true"
                            >职务
                            </th>
                            <th data-field="dianhua" data-align="center" data-sortable="true">电话</th>
                            <th data-field="dizhi" data-align="center" data-sortable="true">办公地址</th>
                        </tr>
                        </thead>

                    </table>

                </div>


            </div>

        </div>


        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}
