{% extends 'base.html' %}

{% block title %}
    <title>编辑</title>>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: url(/static/img/head_back.png)">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">北京交通大学通讯录</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
                <form class="navbar-form navbar-right" method="post" action="{% url 'mylogout' %}">
                    {% csrf_token %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">退出</a></li>
                    </ul>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background: url(/static/img/bj.png)">
        <div class="container container-fluid">
            <div class="btm row">
                <div class="">
                    <br>
                    <h2>电话号码查询</h2>
                    <br>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-offet-2 col-md-8">
                            <form class="navbar-form form-group-lg" action="{% url 'cdh' %}" method="post">
                                {% csrf_token %}
                                <ul class="form-group" style="width: 100%;">
                                    <div class=" col-md-8"><input type="text" placeholder="请输入查询内容"
                                                                  class="form-control " name="name"
                                                                  style="width: 100%;"></div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary btn-lg form-control navbar-left"
                                                style="width: 100%;">查询
                                        </button>
                                    </div>

                                </ul>
                                <h6 class="col-md-offset-1" style="padding: 10px">说明：查询内容可以是 院系，姓名，职务，地址，电话等</h6>
                            </form>
                        </div>
                        <div class="row col-md-2"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="container">
        <!-- Example row of columns -->
        <!-- 第一列放表格 -->
        <div class="row">
            <div class="col-md-10 " id="diyilie">
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th width='16%'>院</th>
                            <th width='14%'>系</th>
                            <th width='14%'>专业</th>
                            <th width='14%'>姓名</th>
                            <th width='14%'>职务</th>
                            <th width='14%'>电话</th>
                            <th width='14%'>办公地址</th>
                        </tr>
                        </thead>
                        <tbody id="mytable">

                        {% for data in contacts %}
                            <tr>
                                <td>


                                    {{ data.yuan }}</td>
                                <td>{{ data.xi }}</td>
                                <td>{{ data.zhuanye }}</td>
                                <td>{{ data.xingming }}</td>
                                <td>{{ data.zhiwu }}</td>
                                <td>{{ data.dianhua }}</td>
                                <td>{{ data.dizhi }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="col-md-1">


            </div>

            <div class="col-md-2 sidebar-offcanvas" id="sidebar" style="background-color: #95999c; height:80%">
                <h4>单位列表</h4>
                <div class="list-group row pre-scrollable">
                    {% for data in case_name %}
                        <button class="list-group-item"> {{ data.name }} </button>
                    {% endfor %}
                </div>
            </div>

        </div>


        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}
